@font-face {
    font-family: 'montserrat';
    src: url('montserrat-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-extralight';
    src: url('montserrat-extralight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* { font-family: 'montserrat'; }