* { font-family: Hevletica, Arial; font-size: 14px;}
th { font-weight: 400; min-width: 100px; text-align: right; padding-right: 4px;}
td { border-bottom: 1px solid black; }

#lock { display: none }
#info { display: none }

button { margin: 4px; border: 1px solid gray; background: #f8f8f8; cursor: pointer; }
button:hover { border: 1px solid black; background: white }